<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>About Page</h1>
    <p>This is the About page.</p>

    <!-- Display your image -->
    <img src="{{ url_for('static', filename='images/lucas-law-ecELcxmJTk4-unsplash.jpg') }}" alt="About Image" width="400">
</body>
</html>
